.astext {
    background:none;
    border:none;
    margin:0;
    padding:0;
}
#comment_text{
	white-space: normal;
	text-align:center;
	text-align:;
	 height:100px;
	 width: 100px;
	 outline-color: red;
}
#wrapper {
  display:table;
  width:700px;
}
#row {
  display:table-row;
}
#storyarea{
	background-color:rgb(255,125,0);
	  display:table-cell;
width:800px;
padding: 25px; /* when only one "argument" is passed to margin or padding, it defines the
		margin/padding on all four sides */
		border: 1px solid black; /* the 1px defines the border-width; the solid defines the border-style;
		the black defines the border-color */
		
}
#login {
	display:table-cell;
  background-color:rgb(10,230,124);
  margin-bottom:0 auto;
  width:200px;
  padding: 25px; /* when only one "argument" is passed to margin or padding, it defines the
		margin/padding on all four sides */
		border: 1px solid black; /* the 1px defines the border-width; the solid defines the border-style;
		the black defines the border-color */
}
#register {
	display:table-cell;
	width:200px;

	background-color: rgb(120,10,120);
	float: right;
}
#delete {
	display:table-cell;
	width:200px;
}
#edit {
	display:table-cell;
	width:200px;
}

#result {
	display:table-cell;
	width:200px;
}
#new_post{
	width: 3000px;
	height: 3000px;
}
#userarea{
	display:table-cell;
  background-color:rgb(0,255,124);
  margin-bottom:0 auto;
  width:200px;
  padding: 25px; /* when only one "argument" is passed to margin or padding, it defines the
		margin/padding on all four sides */
		border: 1px solid black; /* the 1px defines the border-width; the solid defines the border-style;
		the black defines the border-color */
}
}